.page__bg.page__bg--background
	+picture({'src': 'bg.jpg', 'alt': 'bg', 'data':{'data-bg': 'true'}})
.page__bg.page__bg--foreground
	+picture({'src': 'bg-2.jpg', 'alt': 'bg', 'data':{'data-bg': 'true'}})