footer.page__footer
	.page__wrapper
		a.footer__logo(href="pages.home")
			icon-nplus1-logo
		.footer__wrapper
			.footer__nav
				+nav(nav_footer)
			.footer__copy
				p
					| © 2019 N+1 Интернет-издание   Свидетельство о регистрации СМИ Эл № ФС77-67614
				p
					| Использование всех текстовых материалов без изменений в некоммерческих целях разрешается со ссылкой на N+1. Все аудиовизуальные произведения являются собственностью своих авторов и правообладателей и используются только в образовательных и информационных целях. Если вы являетесь собственником того или иного произведения и не согласны с его размещением на нашем сайте, пожалуйста, напишите на kirill@nplus1.ru
				p
					| Материалы, опубликованные в разделе «Блоги», отражают позиции их авторов, которые могут не совпадать с мнением редакции.
				p
					| Сайт может содержать контент, не предназначенный для лиц младше 18 лет.
				p
					a(href="#") Политика обработки персональных данных пользователей сайта
				p
					a.link.theme--white(href="#") Change privacy settings
			.footer__socials
				+nav(nav_socials)