nav.nav.nav--line(aria-label='Articles')
	.nav__wrapper(role='application')
		ul.nav__menu
			li.nav__item.nav__item--current
				a.nav__link(href='#', title='#') 
					span.article__content
						span.article__theme Книжная полка
						span.article__title Карел Дэвис, «450 лет лидерства: Технологический расцвет Голландии в XIV-XVIII вв. и что за ним последовало»
			li.nav__item
				a.nav__link(href='#', title='#') 
					span.article__content
						span.article__theme Давайте разберемся
						span.article__title Достигнут ли предел скорости перемножения очень больших чисел
			li.nav__item
				a.nav__link(href='#', title='#') 
					span.article__content
						span.article__theme Ex Libris
						span.article__title Джеффри Клугер. «Аполлон-8». Захватывающая история первого полета к Луне
			li.nav__item
				a.nav__link(href='#', title='#') 
					span.article__content
						span.article__theme Об археологии просто
						span.article__title Девиантные могилы корсиканского некрополя
			li.nav__item
				a.nav__link(href='#', title='#') 
					span.article__content
						span.article__theme Космические дневники
						span.article__title Онлайн: смотрим на горизонт событий
			li.nav__item
				a.nav__link(href='#', title='#') 
					span.article__content
						span.article__theme Ex libris
						span.article__title «Игра престолов» и психология: Душа темна и полна ужасов», под редакцией Лэнгли Трэвиса