nav.nav.nav--themes(aria-label='Themes menu')
	.nav__wrapper(role='application')
		ul.nav__menu
			li.nav__item
				a.nav__link(href='#', title='Научные закрытия') 
					span Научные закрытия
			li.nav__item
				a.nav__link(href='#', title='Краткий курс по литэкономии') 
					span Краткий курс по литэкономии
			li.nav__item
				a.nav__link(href='#', title='Приключения «Хаябусы-2»') 
					span Приключения «Хаябусы-2»
			li.nav__item
				a.nav__link(href='#', title='Интегрирование — искусство') 
					span Интегрирование — искусство