nav.nav.nav--rubrics(aria-label='Rubrics menu')
	.nav__wrapper(role='application')
		ul.nav__menu
			li.nav__item
				a.nav__link(href='#', title='Астрономия') 
					span Астрономия
			li.nav__item
				a.nav__link(href='#', title='Физика') 
					span Физика
			li.nav__item
				a.nav__link(href='#', title='Биология') 
					span Биология
			li.nav__item
				a.nav__link(href='#', title='Роботы и дроны') 
					span Роботы и дроны