
.form--header-search{
	@media (--sm-viewport){
		
	}	
	@media (--md-viewport){
		
	}	
	@media (--lg-viewport){
		display: flex;
		width: 100%;
		& input{
			display: none;
		}
		& .btn{
			display: none;
		}
	}	
	@media (--xl-viewport){
		
	}	
}

