
.page__header{
	width: 100%;
	& > .page__wrapper{
		background-color: transparent;
		transition: background-color var(--anim-dur);
	}
	@media (--sm-viewport){
		
	}	
	@media (--md-viewport){
		
	}	
	@media (--lg-viewport){
		& > .page__wrapper{
			display: flex;
		}
	}	
	@media (--xl-viewport){
		
	}
}

