
.header__toggle--search{
	display: flex;
	align-items: center;
	overflow: hidden;
	&:hover,
	&:focus{
		color: var(--white);
	}
	@nest .header__wrapper--nav & {
		display: none;
	}
	@media (--sm-viewport){
		
	}	
	@media (--md-viewport){
		
	}	
	@media (--lg-viewport){
		display: none;
		margin-bottom: 1px;
		margin-right: 1px;
		@nest .header__wrapper--nav & {
			display: flex;
		}
		& .btn{
			background-color: var(--black);
			color: var(--white);
			position: relative;
			height: 100%;
			display: block;
			width: 100%;
			transition: background-color var(--anim-dur);
			&:hover,
			&:focus{
				background-color: var(--orange);
				color: var(--black);
			}
			& img{
				height: 100%;
				width: auto;
				max-width: 100vw;
				display: block;
				opacity: 0;
				min-width: 68px;/*for non-webkit browsers*/
			}
			& .icon__vue{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
		}		
	}	
	@media (--xl-viewport){
		
	}
}

