include ./mixins/mixins.pug
-
	let pageTitle = 'N+1';

doctype html
html(lang="ru")
	+head(pageTitle)
	body.page
		.page__body
			include partials/background.pug
			include partials/header.pug
			main.page__main
				.page__wrapper
					include partials/featuder_top.pug
					.article__wrapper.article__wrapper--front
						.row
							.col-12.col-lg-8.col-xl-6
								+article('lg', articles[0])
							.col-12.col-sm-6.col-lg-4.col-xl-3
								+article('xs', articles[0])
								+article('xs', articles[0])
								+article('xs', articles[0])
							.col-12.col-sm-6.col-lg-12.col-xl-3.wrapper--helper
								+article('xs', articles[0])
								+article('xs', articles[0])
								+article('xs', articles[0])
						p banner
						.row
							.col-12.col-sm-6.col-lg-4.order-lg-1.col-xl-3
								+article('xs', articles[0])
								+article('xs', articles[0])
								+article('xs', articles[0])
							.col-12.col-sm-6.order-lg-3.col-lg-12.order-xl-1.col-xl-3.wrapper--helper
								+article('xs', articles[0])
								+article('xs', articles[0])
								+article('xs', articles[0])
							.col-12.col-sm-6.col-lg-4.order-lg-2.col-xl-3
								+article('sm', articles[0])
							.col-12.col-sm-6.col-lg-4.order-lg-2.col-xl-3
								+article('sm', articles[0])
						.row
							.col-12.col-md-6.col-lg-8.col-xl-6
								+article('md', articles[0])
							.col-12.col-md-6.col-lg-4.col-xl-6
								+article('md', articles[0])
						.row
							.col-12.col-sm-6.col-lg-4.order-lg-1.col-xl-3
								+article('xs', articles[0])
								+article('xs', articles[0])
								+article('xs', articles[0])
							.col-12.col-sm-6.order-lg-3.col-lg-12.order-xl-1.col-xl-3.wrapper--helper
								+article('xs', articles[0])
								+article('xs', articles[0])
								+article('xs', articles[0])
							.col-12.col-sm-6.col-lg-4.order-lg-2.col-xl-3
								+article('sm', articles[0])
							.col-12.col-sm-6.col-lg-4.order-lg-2.col-xl-3
								+article('sm', articles[0])
						.row
							.col-12.col-md-6.col-lg-8.col-xl-6
								+article('md', articles[0])
							.col-12.col-md-6.col-lg-4.col-xl-6
								+article('md', articles[0])
					include partials/featuder_bottom.pug
			include partials/footer.pug
		script(src="js/app.js")