include ./mixins/mixins.pug
-
	let pageTitle = 'N+1';

doctype html
html(lang="ru")
	+head(pageTitle)
	body.page
		.page__body
			include partials/background.pug
			include partials/header.pug
			main.page__main
				.page__wrapper
					include partials/featuder_top.pug
					p(style="padding-bottom:1500px;")
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos impedit sit fuga in officia, omnis rem. Sint molestias repudiandae aperiam tempore fuga atque sunt, autem quibusdam enim amet molestiae nisi!
					include partials/featuder_bottom.pug
			footer.page__footer
		script(src="js/app.js")