-
	let pages = {
		home: 'index.html',
	}
	let nav_themes = {
		label: 'Themes menu',
		className: 'nav--themes',
		items: [
			{
				title: 'Научные закрытия'
			},
			{
				title: 'Краткий курс по литэкономии'
			},
			{
				title: 'Приключения «Хаябусы-2»'
			},
			{
				title: 'Интегрирование — искусство'
			}
		]
	}
	
	let nav_rubrics = {
		label: 'Rubrics menu',
		className: 'nav--rubrics',
		items: [
			{
				title: 'Астрономия'
			},
			{
				title: 'Физика'
			},
			{
				title: 'Биология'
			},
			{
				title: 'Роботы и дроны'
			}
		]
	}

	let nav_line = {
		label: 'Featured articles',
		className: 'nav--line',
		mixin: 'navArticles',
		items: [
			{
				theme: 'Книжная полка', 
				title: 'Карел Дэвис, «450 лет лидерства: Технологический расцвет Голландии в XIV-XVIII вв. и что за ним последовало»', 
				current: true
			},
			{
				theme: 'Давайте разберемся', 
				title: 'Достигнут ли предел скорости перемножения очень больших чисел'
			},
			{
				theme: 'Ex Libris', 
				title: 'Джеффри Клугер. «Аполлон-8». Захватывающая история первого полета к Луне'
			},
			{
				theme: 'Об археологии просто', 
				title: 'Девиантные могилы корсиканского некрополя'
			},
			{
				theme: 'Космические дневники', 
				title: 'Онлайн: смотрим на горизонт событий'
			},
			{
				theme: 'Ex libris', 
				title: '«Игра престолов» и психология: Душа темна и полна ужасов», под редакцией Лэнгли Трэвиса'
			}
		]
	}	

	let nav_footer = {
		label: 'Footer menu',
		className: 'nav--footer',
		items: [
			{
				title: 'О Нас'
			},
			{
				title: 'Рекламодателям'
			},
			{
				title: 'Наши Материалы'
			},
			{
				title: 'Вакансии'
			},
			{
				title: 'Сложность'
			}
		]
	}

	let nav_socials = {
		label: 'Socials menu',
		className: 'nav--socials',
		mixin: 'navSocials',
		items: [
			{
				title: 'Telegram',
				icon: 'telegram',
				link: 'https://t.me/nplusone'
			},
			{
				title: 'Vkontakte',
				icon: 'vkontakte',
				link: 'http://vk.com/nplusone'
			},
			{
				title: 'Facebook',
				icon: 'facebook',
				link: 'https://www.facebook.com/nplusone'
			},
			{
				title: 'Twitter',
				icon: 'twitter',
				link: 'https://twitter.com/nplusodin'
			},
			{
				title: 'Odnoklassniki',
				icon: 'odnoklassniki',
				link: 'https://ok.ru/nplus1'
			},
			{
				title: 'Soundcloud',
				icon: 'soundcloud',
				link: 'https://soundcloud.com/nplus_1'
			},
			{
				title: 'Rss',
				icon: 'rss',
				link: 'https://nplus1.ru/rss'
			}
		]
	}

	let articles = [
		{
			title: 'Машинное обучение помогло определить возраст ребенка по движению глаз',
			pic: 'images/article-0.jpg',
			link: '#link',
			date: '09:37',
			excerpt: 'Так когда же все-таки заниматься спортом, утром или вечером? И правда ли, что выводы авторов двух статей в одном журнале прямо противоположные? Если коротко, когда вам удобно, и нет, не противоположные. Просто статьи надо внимательно прочитать.',
			rubrics: [
				{
					title: 'Психология',
					link: '#rubric1'
				},
				{
					title: 'IT',
					link: '#rubric2'
				}
			],
			themes: [
				{
					title: 'Второй сезон Коллайдера',
					link: '#theme'
				}
			],
			author: {
				name: 'Сергей Кузнецов',
				pic: 'images/userpic-0.jpg',
				role: 'Редактор'
			}
		},
		{
			title: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque magnam reiciendis possimus cum, libero, aperiam alias officia nemo velit? Alias, odit, nam. Repellat corrupti placeat fugiat debitis, ullam. Obcaecati, illo.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque magnam reiciendis possimus cum, libero, aperiam alias officia nemo velit? Alias, odit, nam. Repellat corrupti placeat fugiat debitis, ullam. Obcaecati, illo.',
			pic: '',
			link: '',
			date: '',
			excerpt: '',
			rubrics: [
				{
					title: '',
					link: ''
				}
			],
			themes: [
				{
					title: '',
					link: ''
				}
			],
			author: {
				name: '',
				pic: '',
				role: ''
			}
		}
	]