-
	let nav_themes = {
		label: 'Themes menu',
		className: 'nav--themes',
		items: [
			{
				title: 'Научные закрытия'
			},
			{
				title: 'Краткий курс по литэкономии'
			},
			{
				title: 'Приключения «Хаябусы-2»'
			},
			{
				title: 'Интегрирование — искусство'
			}
		]
	}
	
	let nav_rubrics = {
		label: 'Rubrics menu',
		className: 'nav--rubrics',
		items: [
			{
				title: 'Астрономия'
			},
			{
				title: 'Физика'
			},
			{
				title: 'Биология'
			},
			{
				title: 'Роботы и дроны'
			}
		]
	}

	let nav_line = {
		label: 'Featured articles',
		className: 'nav--line',
		mixin: 'navArticles',
		items: [
			{
				theme: 'Книжная полка', 
				title: 'Карел Дэвис, «450 лет лидерства: Технологический расцвет Голландии в XIV-XVIII вв. и что за ним последовало»', 
				current: true
			},
			{
				theme: 'Давайте разберемся', 
				title: 'Достигнут ли предел скорости перемножения очень больших чисел'
			},
			{
				theme: 'Ex Libris', 
				title: 'Джеффри Клугер. «Аполлон-8». Захватывающая история первого полета к Луне'
			},
			{
				theme: 'Об археологии просто', 
				title: 'Девиантные могилы корсиканского некрополя'
			},
			{
				theme: 'Космические дневники', 
				title: 'Онлайн: смотрим на горизонт событий'
			},
			{
				theme: 'Ex libris', 
				title: '«Игра престолов» и психология: Душа темна и полна ужасов», под редакцией Лэнгли Трэвиса'
			}
		]
	}	