//- VARS
-
	function pDate(){
		return new Date().getTime();
	}

	function clearphone(phone){
		return phone.replace(/[- ]/g,'');
	}


include content.pug

include picture.pug
include head.pug
include vue-icon.pug
include nav.pug
include article.pug
