
.header__nav{
	color: var(--black);
	display: flex;
	width: 100%;
	& .nav{
		display: flex;
		width: 100%;		
	}
	& .nav__wrapper{
		display: flex;
		width: 100%;		
	}
	& .nav__menu{
		list-style: none;
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 0;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	& .nav__item{
		background-color: var(--white);
		display: flex;
		margin-right: 1px;
		margin-bottom: 1px;
		flex-grow: 1;
		transition: background-color var(--anim-dur);
		&:hover{
			background-color: var(--orange);
		}
	}
	& .nav__link{
		text-decoration: none;
		padding: 5px 20px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		& > *{
			line-height: 1;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

