
.article--xs{
	min-height: 135px;
	font-size: 17px;
	&:hover{
		background-color: var(--orange);
	}
	& .article__content{
		display: block;
		padding: var(--page-gap);
	}
	& .article__title{
		font-size: 1em;
	}
}

